[submodule "inventory-service"]
	path = inventory-service
	url = https://github.impcloud.net/RSP-Inventory-Suite/inventory-service
[submodule "rfid-alert-service"]
	path = rfid-alert-service
	url = https://github.impcloud.net/RSP-Inventory-Suite/rfid-alert-service
[submodule "cloud-connector-service"]
	path = cloud-connector-service
	url = https://github.impcloud.net/RSP-Inventory-Suite/cloud-connector-service
[submodule "product-data-service"]
	path = product-data-service
	url = https://github.impcloud.net/RSP-Inventory-Suite/product-data-service.git
[submodule "inventory-probabilistic-algo"]
	path = inventory-probabilistic-algo
	url = https://github.impcloud.net/RSP-Inventory-Suite/inventory-probabilistic-algo.git
[submodule "mqtt-device-service"]
	path = mqtt-device-service
	url = https://github.impcloud.net/RSP-Inventory-Suite/mqtt-device-service.git
